# Default ignored files
/shelf/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# iml files
*.iml

# Idea
**/.idea/*

# Gradle
.gradle
build

# Stamp files (for compiling with make)
**/*.stamp

# Generated after compilation
## Flex files
**/*.flex
## Other files
**/*.java~
/src/org/kopi/vkopi/lib/ui/swing/visual/ApplicationOptions.java
/src/org/kopi/vkopi/comp/base/BaseFlexRules.txt
/src/org/kopi/vkopi/comp/base/BaseMessages.java
/src/org/kopi/vkopi/comp/base/BaseParser.java
/src/org/kopi/vkopi/comp/base/BaseScanner.java
/src/org/kopi/vkopi/comp/base/BaseTokenTypes.java
/src/org/kopi/vkopi/comp/base/BaseTokenTypes.txt
/src/org/kopi/vkopi/comp/chart/ChartFlexRules.txt
/src/org/kopi/vkopi/comp/chart/ChartMessages.java
/src/org/kopi/vkopi/comp/chart/ChartParser.java
/src/org/kopi/vkopi/comp/chart/ChartScanner.java
/src/org/kopi/vkopi/comp/chart/ChartTokenTypes.java
/src/org/kopi/vkopi/comp/chart/ChartTokenTypes.txt
/src/org/kopi/bytecode/classfile/ClassfileMessages.java
/src/org/kopi/bytecode/classfile/ClassfileOptions.java
/src/org/kopi/drivers/ikjc/ClientOptions.java
/src/org/kopi/xkopi/lib/base/ConnectionOptions.java
/src/org/kopi/xkopi/comp/dbi/ConsoleOptions.java
/src/org/kopi/xkopi/comp/dbi/DbiFlexRules.txt
/src/org/kopi/xkopi/comp/dbi/DbiMessages.java
/src/org/kopi/xkopi/comp/dbi/DbiOptions.java
/src/org/kopi/xkopi/comp/dbi/DbiParser.java
/src/org/kopi/xkopi/comp/dbi/DbiScanner.java
/src/org/kopi/xkopi/comp/dbi/DbiTokenTypes.java
/src/org/kopi/xkopi/comp/dbi/DbiTokenTypes.txt
/src/org/kopi/bytecode/dis/DisMessages.java
/src/org/kopi/bytecode/dis/DisOptions.java
/src/org/kopi/vkopi/comp/chart/expandedChart.g
/src/org/kopi/xkopi/comp/dbi/expandedDbi.g
/src/org/kopi/vkopi/comp/form/expandedForm.g
/src/org/kopi/vkopi/comp/trig/expandedGKjc.g
/src/org/kopi/vkopi/comp/trig/expandedGSqlc.g
/src/org/kopi/vkopi/comp/print/expandedPrint.g
/src/org/kopi/vkopi/comp/report/expandedReport.g
/src/org/kopi/xkopi/comp/xkjc/expandedXKjc.g
/src/org/kopi/xkopi/comp/xkjc/expandedXSqlc.g
/src/org/kopi/vkopi/comp/form/FormFlexRules.txt
/src/org/kopi/vkopi/comp/form/FormMessages.java
/src/org/kopi/vkopi/comp/form/FormParser.java
/src/org/kopi/vkopi/comp/form/FormScanner.java
/src/org/kopi/vkopi/comp/form/FormTokenTypes.java
/src/org/kopi/vkopi/comp/form/FormTokenTypes.txt
/src/org/kopi/vkopi/comp/trig/GKjcFlexRules.txt
/src/org/kopi/vkopi/comp/trig/GKjcMessages.java
/src/org/kopi/vkopi/comp/trig/GKjcParser.java
/src/org/kopi/vkopi/comp/trig/GKjcScanner.java
/src/org/kopi/vkopi/comp/trig/GKjcTokenTypes.java
/src/org/kopi/vkopi/comp/trig/GKjcTokenTypes.txt
/src/org/kopi/vkopi/comp/trig/GSqlcFlexRules.txt
/src/org/kopi/vkopi/comp/trig/GSqlcParser.java
/src/org/kopi/vkopi/comp/trig/GSqlcScanner.java
/src/org/kopi/vkopi/comp/trig/GSqlcTokenTypes.java
/src/org/kopi/vkopi/comp/trig/GSqlcTokenTypes.txt
/src/org/kopi/compiler/tools/include/IncludeMessages.java
/src/org/kopi/compiler/tools/include/IncludeOptions.java
/src/org/kopi/util/ipp/IPPOptions.java
/src/org/kopi/kopi/comp/kjc/KjcFlexRules.txt
/src/org/kopi/kopi/comp/kjc/KjcMessages.java
/src/org/kopi/kopi/comp/kjc/KjcOptions.java
/src/org/kopi/kopi/comp/kjc/KjcParser.java
/src/org/kopi/kopi/comp/kjc/KjcScanner.java
/src/org/kopi/kopi/comp/kjc/KjcScanner.java~
/src/org/kopi/kopi/comp/kjc/KjcTokenTypes.java
/src/org/kopi/kopi/comp/kjc/KjcTokenTypes.txt
/src/org/kopi/bytecode/ksm/KsmLexer.java
/src/org/kopi/bytecode/ksm/KsmLexerTokenTypes.java
/src/org/kopi/bytecode/ksm/KsmLexerTokenTypes.txt
/src/org/kopi/bytecode/ksm/KsmMessages.java
/src/org/kopi/bytecode/ksm/KsmOptions.java
/src/org/kopi/bytecode/ksm/KsmParser.java
/src/org/kopi/bytecode/ksm/KsmTokenTypes.java
/src/org/kopi/bytecode/ksm/KsmTokenTypes.txt
/src/org/kopi/compiler/tools/lexgen/LexgenLexer.java
/src/org/kopi/compiler/tools/lexgen/LexgenLexerTokenTypes.java
/src/org/kopi/compiler/tools/lexgen/LexgenLexerTokenTypes.txt
/src/org/kopi/compiler/tools/lexgen/LexgenMessages.java
/src/org/kopi/compiler/tools/lexgen/LexgenOptions.java
/src/org/kopi/compiler/tools/lexgen/LexgenParser.java
/src/org/kopi/compiler/tools/lexgen/LexgenTokenTypes.java
/src/org/kopi/compiler/tools/lexgen/LexgenTokenTypes.txt
/src/org/kopi/vkopi/lib/l10n/LocalizationCheckerOptions.java
/src/org/kopi/util/lpr/LpdOptions.java
/src/org/kopi/util/lpr/LpQOptions.java
/src/org/kopi/util/lpr/LpRmOptions.java
/src/org/kopi/util/lpr/LpROptions.java
/src/org/kopi/util/mailer/MailerOptions.java
/src/org/kopi/bytecode/memcnt/MemcntMessages.java
/src/org/kopi/bytecode/memcnt/MemcntOptions.java
/src/org/kopi/compiler/tools/msggen/MsggenOptions.java
/src/org/kopi/bytecode/optimize/OptimizeMessages.java
/src/org/kopi/bytecode/optimize/OptimizeOptions.java
/src/org/kopi/vkopi/comp/print/PrintFlexRules.txt
/src/org/kopi/vkopi/comp/print/PrintMessages.java
/src/org/kopi/vkopi/comp/print/PrintParser.java
/src/org/kopi/vkopi/comp/print/PrintScanner.java
/src/org/kopi/vkopi/comp/print/PrintTokenTypes.java
/src/org/kopi/vkopi/comp/print/PrintTokenTypes.txt
/src/org/kopi/vkopi/comp/report/ReportFlexRules.txt
/src/org/kopi/vkopi/comp/report/ReportMessages.java
/src/org/kopi/vkopi/comp/report/ReportParser.java
/src/org/kopi/vkopi/comp/report/ReportScanner.java
/src/org/kopi/vkopi/comp/report/ReportTokenTypes.java
/src/org/kopi/vkopi/comp/report/ReportTokenTypes.txt
/src/org/kopi/drivers/ikjc/ServerOptions.java
/src/org/kopi/xkopi/comp/sqlc/SqlcFlexRules.txt
/src/org/kopi/xkopi/comp/sqlc/SqlcMessages.java
/src/org/kopi/xkopi/comp/sqlc/SqlcOptions.java
/src/org/kopi/xkopi/comp/sqlc/SqlcParser.java
/src/org/kopi/xkopi/comp/sqlc/SqlcScanner.java
/src/org/kopi/xkopi/comp/sqlc/SqlcScanner.java~
/src/org/kopi/xkopi/comp/sqlc/SqlcTokenTypes.java
/src/org/kopi/xkopi/comp/sqlc/SqlcTokenTypes.txt
/src/org/kopi/bytecode/ssa/SSAMessages.java
/src/org/kopi/bytecode/ssa/SSAOptions.java
/src/org/kopi/vkopi/comp/base/VKOptions.java
/src/org/kopi/xkopi/comp/xkjc/XKjcFlexRules.txt
/src/org/kopi/xkopi/comp/xkjc/XKjcMessages.java
/src/org/kopi/xkopi/comp/xkjc/XKjcOptions.java
/src/org/kopi/xkopi/comp/xkjc/XKjcParser.java
/src/org/kopi/xkopi/comp/xkjc/XKjcScanner.java
/src/org/kopi/xkopi/comp/xkjc/XKjcScanner.java~
/src/org/kopi/xkopi/comp/xkjc/XKjcTokenTypes.java
/src/org/kopi/xkopi/comp/xkjc/XKjcTokenTypes.txt
/src/org/kopi/xkopi/comp/xkjc/XSqlcFlexRules.txt
/src/org/kopi/xkopi/comp/xkjc/XSqlcMessages.java
/src/org/kopi/xkopi/comp/xkjc/XSqlcParser.java
/src/org/kopi/xkopi/comp/xkjc/XSqlcScanner.java
/src/org/kopi/xkopi/comp/xkjc/XSqlcScanner.java~
/src/org/kopi/xkopi/comp/xkjc/XSqlcTokenTypes.java
/src/org/kopi/xkopi/comp/xkjc/XSqlcTokenTypes.txt
